P{color: darkslategray;font-size: smaller;font-family: Verdana, Geneva, Tahoma, sans-serif;font-style: initial;text-align: center;}
menu{color: aqua;font-size: x-large;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;}
h2{color: indigo;font-size: medium;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;}
h1{color: darkblue;font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;text-align: center;}
li{color: darkslateblue;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;}
div{color: navy;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center;}
body{background-color: antiquewhite;}
input {text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;}
footer{text-align: center;}
